{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}


<div class="container">
    <div class="track_type">
        <h1>update tasks</h1>
    </div>
    <form action="/update/{{taskupdate.sno}}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter the task <title></title></label>
            <input type="text" class="form-control" name="title" id="text-title" value="{{taskupdate.task_title}}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Enter the value</label>
            <input type="text" class="form-control" name="value" value="{{taskupdate.task_value}}">
        </div>
        <label for="inputState" class="form-label">Type of variable</label>
        <select id="inputState" class="form-select" name="variable" value="{{taskupdate.task_variable}}">
            <option selected></option>
            <option>Boolean</option>
            <option>Number</option>
            <option>value</option>
        </select>
        <button type="submit" class="btn btn-primary">update</button>
    </form>
    <br><br>


</div>




{% endblock body %} 